<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout p-l-20">
      <StackLayout class="sideTitleStackLayout">
        <Label text="Digimon's list application"></Label>
      </StackLayout>
      <ScrollView row="1">
        <StackLayout class="sideStackLayout">
          <Label
            text="About this application"
            [nsRouterLink]="['/about']"
            class="sideLabel sideLightGrayLabel m-b-10"
          ></Label>
          <Label
            text="Logout your account"
            (tap)="logout()"
            class="sideLabel sideLightGrayLabel"
          ></Label>
        </StackLayout>
      </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent>
      <page-router-outlet></page-router-outlet>
    </StackLayout>
  </RadSideDrawer>
  